body {
	padding:20px;
	background: #E0EEE0; 
}

.logo {
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom:20px;
	display:block;
}

label,input {
	margin-left: 10px;
	margin-top:10px;
}

.flash-message {
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background-color: #FFFFCC;
	text-align:center;
	padding:5px;
}

nav ul {
	list-style-type:none;
	padding:5px 0px 5px 0px;
}

nav ul li {
	display:inline;
	margin-right:10px;
}

a:link, a:visited, a:active, a:hover {
	text-decoration:underline;
	color: #33CC99;
}


.party, .guest {
	border:3px solid #ccc;
	padding:10px;
	padding-top:0px;
	float:left;
	width:300px;
	margin-right:10px;
	margin-bottom:10px;
	height: 300px;
	

}



